nav{
    background-color: darkseagreen;
    text-align: center;
    margin: auto;
    display:flex;
}
.container{
    display: flex;
    background-color: darkslategrey;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: auto;
    flex: 70%;

}
.grid-container{
    display: grid;
    background-color:cadetblue;
    padding: 10px;
    column-gap:10px;
    grid-gap: 50px 100px;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    justify-content: space-evenly;
    align-content: center;
    place-content: center;
}
@media  (max-width: 768px) and (min-width:600px){ 
    body{
        font-size: 16px;
    } 
}
    
